{# app/Resources/views/layout/app.html.twig #}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
<title>{% block title %}% endblock %}Symfony App{</title> 
</head>
<body>
<h1>Symfony App</h1>
{% endblock %}

{%block body %}
<p>Body de mi aplicacidn en Symfony</p> 
{% endblock %}
</body>
</html>
