{# src/AppBundle/Resources/views/Articulos/unArticulo.html.twig #}

{% extends 'layout/app.html.twig' %} 
(% block body %}


  <a href="{{ path('mostrarArticulos')}}">Ver todos los articulos</a>   
  (h2){{art.titulo}}</h2)
  <h3>{{art descripcion}}<h3>
  <p>{{art.cuerpo}}</p>
	  {% endblock %}
